angles==1.9.12
cv-bridge==1.13.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dynamic-reconfigure==1.6.3
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.15
gennodejs==2.0.1
genpy==0.6.9
image-geometry==1.13.0
kdl-parser-py==1.13.1
laser-geometry==1.6.5
resource-retriever==1.12.6
